<%- include('../partials/nav') %>

    <h1>My Books</h1>

    <a href="/books/new">Add a Book</a>

    <% if (myBooks.length === 0) { %>
        <p>You don't have books.</p>
    <% } else { %>
        <% myBooks.forEach((item) => { %>
            <div class="book-cards">
                <a href="/books/<%= item._id %>">
                    <img src="<%= item.image %>" width="300">
                    <p><%= item.title %></p>
                    <p><%= item.author %></p>
                    <% if (item.status === 'borrowed') { %>
                        <p>Borrowed</p>
                    <% } %>
                </a>
            </div>
            <br>
        <% }) %>
    <% } %>

</body>
</html>