<%- include('../partials/nav') %>

    <h1 style="margin-top: 4rem;">My Book Collection</h1>

    <a href="/books/new" class="add-book">Add a Book</a>

    <% if (myBooks.length === 0) { %>
        <p>You don't have books.</p>
    <% } else { %>

        <div class="book-cards">
            <% myBooks.forEach((item) => { %>
                <a href="/books/<%= item._id %>" style="text-decoration: none; color: black;">
                    <div class="book-card">
                        <img src="<%= item.image %>" width="200"> 
                        <span class="badge"><%= item.status %></span>
                        <div class="book-main-info">
                            <h2><%= item.title %></h2>
                            <p>Book By <%= item.author %></p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    <% } %>

</body>
</html>