<%- include('../partials/nav') %>


    <% if (foundBook.owner._id.equals(user._id)) { %>
        <section class="book-details-section">
            <div class="book-img-status">
                <img src="<%= foundBook.image %>" width="300">
                <button class="book-status"><%= foundBook.ownershipStatus %></button>
                <button class="book-status"><%= foundBook.status %></button>
            </div>

            <div class="book-details">
                <h1><%= foundBook.title %></h1>
                <h1 style="color: rgb(69, 63, 63); font-size: 24px;">Book By <%= foundBook.author %></h1>

                <% foundBook.genres.forEach((item) => { %>
                    <button class="genres"><%=item %></button>
                <% }) %>

                <p><%= foundBook.description %></p>                
                <hr>

                <h2>Rating & Review</h2>
                <p>⭐<%= foundBook.rate %></p>
                <p><%= foundBook.review %></p>
                <hr>
                
                <h2>Manage</h2>
                <div class="owner-manage">
                    <button><a href="/books/<%= foundBook._id %>/edit" style="text-decoration: none; color: black;">Edit this Book</a></button>

                    <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete this Book</button>
                    </form>

                    <% if (foundBook.isBorrowable === true) { %>
                        <button>Already Available to Borrow</button>
                    <% } else { %>
                    <form action="/books/<%= foundBook._id %>/borrow-status?_method=PUT" method="POST">
                        <button type="submit">Available to Borrow?</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </section>
    <% } else { %>
        <p>You don't have books.</p>
    <% } %>

</body>
</html>