<%- include('../partials/nav') %>


    <% if (foundBook.owner._id.equals(user._id)) { %>
        <h1><%= foundBook.title %></h1>
        <h2><%= foundBook.author %></h2>
        <img src="<%= foundBook.image %>" width="300">
        <p><%= foundBook.description %></p>
        <p><%= foundBook.status %></p>

        <h3>Rating & Review</h3>
        <p>⭐<%= foundBook.rate %></p>
        <p><%= foundBook.review %></p>


        <h3>Genres</h3>
        <% foundBook.genres.forEach((item) => { %>
            <%=item %>
        <% }) %>

        <h3>Manage</h3>
        <div>
            <a href="/books/<%= foundBook._id %>/edit">Edit this Book</a>

            <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete this Book</button>
            </form>

            <% if (foundBook.isBorrowable === true) { %>
                <button>Already Available to Borrow</button>
            <% } else { %>
            <form action="/books/<%= foundBook._id %>/borrow-status?_method=PUT" method="POST">
                <button type="submit">Available to Borrow?</button>
            </form>
            <% } %>
        </div>

    <% } else { %>
        <p>You don't have books.</p>
    <% } %>

</body>
</html>