<%- include('../partials/nav') %>


    <% if (foundBook.owner._id.equals(user._id)) { %>
        <section class="book-details-section">
            <img src="<%= foundBook.image %>" width="300">

            <div class="book-details">
                <h1><%= foundBook.title %></h1>
                <h2>Book By <%= foundBook.author %></h2>

                <% foundBook.genres.forEach((item) => { %>
                    <button class="genres"><%=item %></button>
                <% }) %>

                <p><%= foundBook.description %></p>

                <p><%= foundBook.status %></p>
                
                <hr>

                <h2>Rating & Review</h2>
                <p>⭐<%= foundBook.rate %></p>
                <p><%= foundBook.review %></p>

                <h2>Manage</h2>
                <div class="owner-manage">
                    <button><a href="/books/<%= foundBook._id %>/edit" style="text-decoration: none; color: black;">Edit this Book</a></button>

                    <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete this Book</button>
                    </form>

                    <% if (foundBook.isBorrowable === true) { %>
                        <button>Already Available to Borrow</button>
                    <% } else { %>
                    <form action="/books/<%= foundBook._id %>/borrow-status?_method=PUT" method="POST">
                        <button type="submit">Available to Borrow?</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </section>
    <% } else { %>
        <p>You don't have books.</p>
    <% } %>

</body>
</html>