<%- include('./partials/nav') %>


    <h1><%= user.username %>'s Pending Requests</h1>
    <% borrowRequest.forEach((item) => { %>
        <p><%= item.userId.username  %> <%= `${item.requestDate.toDateString()} at ${item.requestDate.getHours()}: ${item.requestDate.getMinutes()}`  %> 
            
            <form action="/dashboard/<%= item.bookId._id %>/<%= item._id %>?_method=PUT" method="POST">
                <button type="submit" <%= item.bookId.isBorrowed ? 'disabled' : '' %> >Accept</button> 
            </form>
            <form action="/dashboard?_method=PUT" method="POST">
                <button type="submit" <%= item.bookId.isBorrowed ? 'disabled' : '' %> >Reject</button>
            </form>
        </p>
    <% }) %>

</body>
</html>