<%- include('./partials/nav') %>

    <h1 style="margin-top: 4rem;"><%= `${user.username.toUpperCase()}'s Borrow Requests`%></h1>

    <% if (borrowRequest.length === 0) { %>
        <p>No borrow requests right now.</p>
    <% } else { %>
        <div class="request-list">
            <% borrowRequest.forEach((item) => { %>
                <div class="borrow-request">
                    <div class="request-info">
                        <p class="request-text">
                            <strong><%= item.userId.username %></strong> 
                            wants to borrow "<%= item.bookId.title %>"
                        </p>
                        <p class="request-date">
                            <%= `${item.requestDate.toDateString()} at ${item.requestDate.getHours()}:${item.requestDate.getMinutes().toString().padStart(2, '0')}` %>
                        </p>
                    </div>

                    <div class="action-btn">
                        <form action="/dashboard/<%= item.bookId._id %>/<%= item._id %>?_method=PUT" method="POST">
                            <button type="submit" class="<%= item.bookId.isBorrowed ? 'btn-disabled' : '' %>" <%= item.bookId.isBorrowed ? 'disabled' : '' %>>Accept</button>
                        </form>

                        <form action="/dashboard/<%= item.bookId._id %>/<%= item._id %>/reject?_method=PUT" method="POST">
                            <button type="submit" class="<%= item.bookId.isBorrowed ? 'btn-disabled' : '' %>" <%= item.bookId.isBorrowed ? 'disabled' : '' %>>Reject</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>

</body>
</html>