<%- include('../partials/nav') %>


    <h1>Books to Borrow</h1>

    <% if (allToBorrows.length === 0) { %>
        <p>There are no books that are available to borrow.</p>

    <% } else { %>
        <div class="book-cards">
            <% allToBorrows.forEach((item) => { %>
                <% if (!item.owner.equals(user._id)) { %>
                    <a href="/to-borrow/<%= item._id %>" style="text-decoration: none; color: black;">
                        <div class="book-card">
                            <img src="<%= item.image %>" width="200">
                            <% if (item.isBorrowed === true) { %>
                                <span class="badge">Borrowed</span>
                            <% } %>
                            <h2><%= item.title %></h2>
                            <p><%= item.author %></p>
                        </div>
                    </a>
                    <br>
                <% } %>
            <% }) %>
        </div>
    <% } %>


</body>
</html>